########################################################################################################################
# This is the configuration file for the MOS-X model. Parameters specified here are used to build and run the
# machine learning model to predict a few weather parameters at a given station location.
########################################################################################################################
# Global parameters go here.

# The root directory of this program
MOSX_ROOT =

# The root directory of the BUFRgruven executable program
BUFR_ROOT =

# The directory where site-specific data files are saved (defaults to %MOSX_ROOT/site_data)
SITE_ROOT =

# The 4-letter station ID of the location
station_id = KAUS

# The long station ID used to retrieve wind verification data. The script climo.py provided herein may be used to find
# this station ID with the -s option.
climo_station_id = USW00013904

# Lowest pressure level for vertical profiles. For stations at high elevation, the lowest pressure level may have to be
# lower because data will be missing at higher pressures.
lowest_p_level = 950

# Starting and ending dates for the model training. BUFR data are available beginning 2010-01-01. If the parameter
# 'is_season' is True, then the program will assume that you want seasonally-subset training data beginning in the year
# of 'data_start_date' and ending in the year of 'data_end_date', with seasons spanning from the start day to the end
# day. Dates should be provided as YYYYMMDD.
data_start_date = 20081120
data_end_date = 20160409
is_season = True

# API token for MesoWest data (required). To get an API key, visit https://synopticlabs.org/api/
meso_token =

# Produce verbose output
verbose = True


########################################################################################################################
# In this section, provide parameters used to control the retrieval of BUFR profile model data.

[BUFR]

    # (Optional) The station ID used in BUFR for the station (defaults to station_id, may be different though)
    bufr_station_id =

    # (Optional) Data directory where BUFKIT files are saved (defaults to %SITE_ROOT/bufkit)
    bufr_data_dir =

    # (Optional) Path to bufrgruven executable (defaults to %BUFR_ROOT/bufr_gruven.pl)
    bufrgruven =

    # BUFR models; should be a list
    models = GFS, NAM


########################################################################################################################
# In this section, provide parameters to control the retrieval of observations.

[Obs]

    # Option to use upper-air sounding data
    use_soundings = False

    # Upper-air sounding station ID
    sounding_station_id = FWD

    # (Optional) Data directory where sounding files are saved (defaults to %SITE_ROOT/soundings)
    sounding_data_dir =


########################################################################################################################
# In this section, provide the machine learning model parameters.

[Model]

    # Save the model estimator using pickle to this file
    estimator_file = %(SITE_ROOT)s/%(station_id)s_mosx.pkl

    # The base scikit-learn regressor
    regressor = ensemble.GradientBoostingRegressor

    # If True, trains a separate estimator for each weather parameter. It is highly recommended not to use this option
    # with predict_timeseries below.
    train_multi = True

    # If True, also predict a meteorology time series for the next day, in addition to high/low/wind/rain
    predict_timeseries = False

    # Keyword arguments passed to the base regressor
    [[kwargs]]
        n_estimators = 1000
        max_features = 0.5
        max_depth = 5
        verbose = 1

    # If Ada boosting is desired, provide here any parameters passed to the Ada boost meta-estimator. Otherwise,
    # comment out this subsection.
    # [[ada_boost]]
    #     n_estimators = 50


########################################################################################################################
# There are a few parameters here for validation of the model.

[Validate]

    # Start and end dates for the validation
    start_date = 20161120
    end_date = 20170409


########################################################################################################################
# The run executable allows for an upload to an FTP or SFTP server, for example, to post data to a website. The forecast
# data are aggregated over all runs and uploaded as a file_type (currently only 'pickle' is implemented), and if a plot
# of forecast ensemble distributions is requested, that plot is also uploaded.

[Upload]

    # Type of file to upload forecasts in. Currently only accepts 'pickle'.
    file_type = pickle

    # User name, server, and directory on server. Prompts for password, or set an ssh key. The forecast_directory
    # points to where the forecasts are uploaded, while the plot_directory points to where plots are uploaded.
    username =
    server =
    forecast_directory =
    plot_directory =
